<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left" href="/"><%= image_tag("inbattle ap.png", alt: "InBattle logo", id: "logo", class: "img-responsive") %></a>
    </div>
    
      <div class="collapse navbar-collapse texto-header" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right links">
      <% if logged_in? %>
  		    <li><%= link_to "Incluir usuários", '../../users/new' %></li>
          <li><%= link_to "Inicializar Temas", '../../temas/new' %></li>
          <li><%= link_to "Incluir Candidatos", '../../candidatos/new' %></li>
		      <li><%= link_to "Trocar Senha", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    		  <li><%= link_to "Todos admin", users_path %></li>
    		  <li><%= link_to "Todos candidatos", candidatos_path %></li>
    		  <li><%= link_to "Todos os temas", temas_path %></li>
      <% else %>
          <li><%= link_to "início",    root_path %></li>
          <li><%= link_to "alistamento",   alistamento_path %></li>
          <li><%= link_to "heróis de guerra", heroisdeguerra_path %></li>
          <li><%= link_to "contato", sos_path %></li>
      <% end %>
        </ul>
      </div>
    
  </div>
</nav>

