<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-left" href="/"><%= image_tag("inbattle ap.png", alt: "InBattle logo", id: "logo", class: "img-responsive") %></a>
      
      <div class="collapse navbar-collapse texto-header" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right links">
          <li><%= link_to "início",    root_path %></li>
          <li><%= link_to "alistamento",   alistamento_path %></li>
          <li><%= link_to "heróis de guerra", heroisdeguerra_path %></li>
          <li><%= link_to "contato", sos_path %></li>
        <% if !logged_in? %>
          <%= link_to "login", signup_path, class: "btn btn-lg btn-primary" %>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "incluir usuários", '../../users/new' %></li>
              <li><%= link_to "inicializar temas", '../../temas/new' %></li>
              <li><%= link_to "incluir candidatos", '../../candidatos/new' %></li>
              <li><%= link_to "trocar senha", edit_user_path(current_user) %></li>
              <li><%= link_to "todos admin", users_path %></li>
              <li><%= link_to "todos candidatos", candidatos_path %></li>
              <li><%= link_to "todos os temas", temas_path %></li>
            </ul>
          </li>
    		  <li><%= link_to "Log out", logout_path, method: "delete", class: "btn btn-lg btn-primary" %></li>
      <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

<%= image_tag("arame farpado navbar.png", alt: "aramin", class:"arame") %>