<div class="container">
    <h1>Heróis de Guerra</h1>
    
    <div class="col-md-6">
      <h2>Melhores Combatentes do Dia</h2>
        <%= image_tag(@candidatoDiaAtual1.endereco, alt: "Candidato 1", class:"image-candidato") %>
        <br>
        Candidato 1 <br>
        Denunciar
        <br>
  		  <%= image_tag(@candidatoDiaAtual3.endereco, alt: "Candidato 2", class:"image-candidato") %>
  		  <br>
        Candidato 2 <br>
        Denunciar
        <br>
        <%= image_tag(@candidatoDiaAtual2.endereco, alt: "Candidato 3", class:"image-candidato") %>
  		  <br>
        Candidato 3 <br>
        Denunciar
    </div>
    
    <div class="col-md-6">
      <h2>Heróis de Guerra</h2>
        <%= image_tag(@candidatoDiaAtual1.endereco, alt: "Candidato 1", class:"image-candidato") %>
        <br>
        Candidato 1 <br>
        Denunciar
        <br>
  		  <%= image_tag(@candidatoDiaAtual2.endereco, alt: "Candidato 2", class:"image-candidato") %>
  		  <br>
        Candidato 2 <br>
        Denunciar
        <br>
        <%= image_tag(@candidatoDiaAtual3.endereco, alt: "Candidato 3", class:"image-candidato") %>
  		  <br>
        Candidato 3 <br>
        Denunciar
    </div>
    
</div>
